* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.box {
    background-color: white;
  border-radius: 5px;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: start;
  padding: 50px;
}